@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

/* // $color1: rgba(255, 242, 234, 1);
// $color2: rgba(34, 56, 67, 1);
// $color3: rgba(61, 8, 20, 1);
// $color4: rgba(165, 56, 96, 1);
// $color5: rgba(51, 51, 51, 1); */

:root {
  --mainHeading: 'Playfair Display', serif;
  --mainPara: 'Raleway', sans-serif;
  --pink: rgba(255, 242, 234, 1);
  --indigo: rgba(34, 56, 67, 1);
  --red: rgba(61, 8, 20, 1);
  --maroon: rgba(165, 56, 96, 1);
  --black: rgba(51, 51, 51, 1)
  
}

.App {
  text-align: center;
  padding-top: 55px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--pink) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h1, h2, h3, h4, h5 {
  font-family: var(--mainHeading);
  color: var(--indigo);
}
p, span {
  font-family: var(--mainPara) !important;
  color: var(--black)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: var(--pink);
}
a:hover {
  text-decoration: none;
  color: var(--pink);
}
a:not([href]):not([tabindex]) {
  color: var(--pink);;
}
a:not([href]):not([tabindex]):hover {
  color: var(--pink);;
}
.btn {
  width: 100%;
  background: none;
  color: var(--black);
  border-color: var(--maroon);

}
.btn:hover {
  width: 100%;
  background: var(--red);;
  color: var(--pink);
}
form {
    background: var(--pink);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
}

/* guess home */

.custom_guess {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  }

.full-height{
  background: rgba(255, 242, 234, 1);
  height: 92vh;
  color: var(--red);;
}

.jumbotron {
  background: none !important;
}
.custom_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom_nav p {
  background: var(--indigo);
  color: var(--red);
  padding: 5px;
  border-radius: 5px;
}
.custom_nav a {
  margin: 0 15px;
}

/*Modal*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.bg-dark  {
  background-color: var(--red) !important;
}

.display-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-none {
  display: none;
}

/*BUDGET*/

.custom_table {
  border: 1px solid black;
  margin: 5px;
}
.custom_table .col {
  margin-right: 1px solid black;;
}
.custom_border {
  border-right: 1px solid black !important;
}
.form-inline .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto !important;
}
#desc, #amt {
  width: 100% !important;
}
.budget_form .form-group {
  margin: 0px;
}
.budget_form .form-group:nth-child(2){
  margin-right: 0px !important;
}
