.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #f6f6f6
}
a:hover {
  text-decoration: none;
  color: #f6f6f6
}
a:not([href]):not([tabindex]) {
  color: #f6f6f6;
}
a:not([href]):not([tabindex]):hover {
  color: #f6f6f6;
}
.btn {
  width: 100%;
  background: none;
  color: #282c34;
}
.btn:hover {
  width: 100%;
  background: #333;
  color: pink;
}
form {
    background: pink;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
}

/* guess home */

.custom_guess {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  }

.full-height{
  background: pink;
  height: 92vh;
  color: #333;
}

.jumbotron {
  background: none !important;
}
.custom_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom_nav p {
  background: pink;
  color: #333 !important;
  padding: 5px;
  border-radius: 5px;
}
.custom_nav a {
  margin: 0 15px;
}

/*Modal*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-none {
  display: none;
}

/*BUDGET*/

.custom_table {
  border: 1px solid black;
  margin: 5px;
}
.custom_table .col {
  margin-right: 1px solid black;;
}
.custom_border {
  border-right: 1px solid black !important;
}
.form-inline .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto !important;
}
#desc, #amt {
  width: 100% !important;
}
.budget_form .form-group {
  margin: 0px;
}
.budget_form .form-group {
  margin: 5px !important;
}
